<!-- index.ejs -->

<!--HTNL5ドキュメントの宣言-->
<!DOCTYPE html>
<!--日本語に設定-->
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>学力テスト(算数)</title>
</head>

<body>
  <h1>問題</h1>
  <p>次の問題を選択肢の中から選べ。</p>
  <p>4 + 8 × 9 -10 = ?</p>
  <ul class="correct-list">
    <!--users配列の各要素をuserに代入し、ループする-->
    <% for (const correct of corrects) { %>
      <!--変数userの値をHTMLに挿入-->
      <li class="correct"><%= correct %></li>
    <% } %>
  </ul>
  <!--クラス名'input-text'を持つテキスト入力フィールドを作成-->
  <input type="text" class="input-text" />
  <!--クラス名'send-button'を持つボタンを作成-->
  <button class="send-button">送信</button>
  <!--'/static/index.js'からJavaScriptファイルを読み込み、HTMLドキュメントの解析が完了した後にスクリプトを実行-->
  <script src="/static/index.js" defer></script>
</body>

</html>
