<!-- index.ejs -->

<!--HTNL5ドキュメントの宣言-->
<!DOCTYPE html>
<!--日本語に設定-->
<html lang="ja">

<!--サイトの設定-->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>学力テスト(算数)</title>
</head>

<!--サイトの内容-->
<body>
  <h1>問題</h1>
  <p>4 + 8 × 9 -10 = ?</p>
  <input type="text" class="input-text" />
  <button class="send-button">送信</button>
  <ul class="correct-list">
    <% for (const correct of corrects) { %>
      <li class="correct"><%= correct %></li>
    <% } %>
  </ul>
  <!--'/static/index.js'にあるJavaScriptファイルの読み込み-->
  <script src="/static/index.js" defer></script>
</body>

</html>
